@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome To IBM Cloud</h1>
    <p>Learn about <a href="https://shreya-9831.github.io/shreya22.github.io/">building Web apps with ASP.NET Core</a>.</p>
</div>
